body {
  background: #acacac;
  color: white;
}

nav {
  background: lightblue;
  height: 50px;
}

#card-class {
  background: #0000ff;
  margin: 50px auto 0px auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 0px;
  width: 50%;
  line-height: 1.8;
  border: 2px solid black;
  border-radius: 20px 20px 20px 20px;
}

h1 {
  font-size: 32px;
}

button {
  font-weight: bold;
  background: white;
  border-radius: 10px;
  border: 1px solid #000044;
  width: 100px;
}

#guide {
  background: #7777ff;
  padding: 5px;
}
#guide:hover {
  background: #bbbbff;
}

#options {
  background: #5f5fff;
  margin: 25px;
  padding: 5px;
}
#options:hover {
  background: #9f9fff;
}

#IDcount {
  float: right;
  text-align: end;
  width: auto;
  border-radius: 5px;
  border: 2px solid #333399;
  background-color: #6666ee;
  font-weight: bold;
  font-size: 14pt;
  padding-right: 5px;
  padding-left: 5px;
}
#IDcountEdit {
  float: right;
  text-align: end;
  width: auto;
  border-radius: 5px;
  border: 2px solid #333399;
  background-color: #ee6666;
  font-weight: bold;
  font-size: 14pt;
  padding-right: 5px;
  padding-left: 5px;
}
.inputF {
  color: white;
  background-color: #0000dd;
  border: none;
}
.inputN {
  font-weight: bold;
  font-size: 22pt;
  color: white;
  width: 14pc;
  background-color: #0000dd;
  border: none;
}

#bot-nav {
  background-color: #0000d0;
  display: flex;
  margin: 0px auto 0px auto;
  width: 50%;
  padding: 16px 16px 0 16px;
  justify-content: center;
  border: 3px solid black;
  border-top: 0px;
  border-radius: 0 0 20px 20px;
}

#guide-c {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
}

#options-c {
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.left,
.right {
  padding: 0px 25px 50px 25px;
}
.left {
  float: left;
}
.right {
  float: right;
}

#editon {
  border-radius: 5px;
  border: 2px solid #333399;
  background-color: #6666ee;
  width: 100%;
  color: red;
  font-weight: bold;
  font-size: 14pt;
  padding-left: 5px;
}
#fin-edit {
  background-color: #009900;
  float: right;
  width: 65px;
  padding: 3px;
}
